/* styles/SignInUpForm.module.css */
/* 
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4;
} */
.title {
  margin: 0;
  margin-bottom: 20px;
}
.container {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 600px;
}

.form-container {
  padding: 40px;
  box-sizing: border-box;
}
/* 
h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #333;
} */

.social-container {
  margin-bottom: 20px;
}

.social {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  color: #333;
  text-decoration: none;
}

/* input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
} */
.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.submitButton {
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.ghost {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  transform: translateX(-50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  box-sizing: border-box;
  padding: 40px;
  color: #fff;
  text-align: center;
}

.overlay-left {
  transform: translateX(-50%);
}

.overlay-right {
  transform: translateX(0);
}